.eventdetails-container{
    position: relative;
    width:auto;
    padding: 15px 25px;
    border: 5px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    background:linear-gradient( 0deg, #a0ff80 , #50ee60);
}

.eventdetails-format{
    position: relative;
    width:auto;
    padding: 15px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.eventdetails-format > .row{
    display:table;
    width: calc(100% + 30px);
}

.eventdetails-format > .row > [class^="col-"],
.eventdetails-format > .row > [class*=" col-"]{
    float:none;
    display:table-cell;
    vertical-align:middle;
}

.event-contents{
    padding-top: 10px;
    padding-bottom: 10px;
}

.event-subject{
    margin: 0 auto 15px;
    padding: 0;
    text-align: left;
}

.event-desc{
    padding: 0;
}

.event-header{
    text-align: left;
}

.cta-desc p:last-child{
    margin-bottom: 0;
}


@media (max-width: 991px){
    .bs-calltoaction > .row{
        display:block;
        width: auto;
    }

    .bs-calltoaction > .row > [class^="col-"],
    .bs-calltoaction > .row > [class*=" col-"]{
        float:none;
        display:block;
        vertical-align:middle;
        position: relative;
    }

    .cta-contents{
        text-align: center;
    }
}

.eventdetails-format.info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.eventdetails-format.bs-calltoaction-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.eventdetails-format.bs-calltoaction-warning{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.eventdetails-format.bs-calltoaction-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.authentication-warning{
    color: red;
    text-align: center;
}

.timetable{
    border: 1px solid black;
    border-collapse: collapse;
}

.timetable-data{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 18px;
    text-align: left;
}

.usertable-data{
    padding: 22px;
    text-align: left;
}
