{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Sign Up</h2>
                </div>
                <div class="panel-body">
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        <table>
                            {% for field in form %}
                            <div class="fieldWrapper">
                                <tr>
                                    <td>
                                        {{ field.label_tag }}
                                    </td>
                                    <td>
                                        {{ field }}
                                    </td>
                                    <td>
                                        {{ field.errors }}
                                    </td>
                                </tr>
                            </div>
                            {% endfor %}
                        </table>
                        <center>
                            <input class="btn btn-success btn-sm" type="submit" value="Register" />
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}
