{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Sign Up</h2>
                </div>
                <div class="panel-body">
                    <h3>
                        Thank you for signing up with MeetUpScheduler
                    </h3>
                    <h3>
                        Want to <a href="{% url 'login' %}"> Login </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}

<script>

{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}

</script>

{% endblock %}
