{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="schedule-panel panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Schedule a new Event</h2>
                </div>
                <div class="panel-body">
                    <form method="post" action="{% url 'addEvent' %}">
                        {% csrf_token %}
                        <p class="bs-component">
                        <table>
                            {% for field in form %}
                            <div class="fieldWrapper">
                                <tr>
                                    <td>
                                        {{ field.label_tag }}
                                    </td>
                                    <td>
                                        {{ field }}
                                    </td>
                                    <td>
                                        {{ field.errors }}
                                    </td>
                                </tr>
                            </div>
                            {% endfor %}
                        </table>
                        </p>
                        <p class="bs-component">
                        <center>
                            <input class="btn btn-success btn-sm" type="submit" value="Schedule it!" />
                        </center>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
