{% extends 'base.html' %}
{% block content %}
{% load meetup_extras%}

<div class="eventdetails-container">
    <div class="eventdetails-format info">
        <div class="row">
            <div class="col-md-9 event-contents">
                <h1 class="event-subject">{{event.subject}}</h1>
                <div class="event-desc">
                    <p>Details : {{event.detail}}</p>
                    <p>Duration : {{ duration }}</p>
                    <p>{{event.NoUsersAccepted}} / {{event.TotalUsers}} have accepted the Event</p>
                </div>
            </div>
        </div>
    </div>

    <center>
        {% if event_type == 'accept' %}
        <p> Currently Accepted Slots</p>
        <table div="timetable">
            <tr>
                {% for field in listAcceptedSlots %}

                <div class="fieldWrapper">
                    <td class="timetable-data">
                        {{ field|slotToTime }}
                    </td>
                </div>
                {% if forloop.counter|divisibleby:4%}
            </tr>
            <tr>
                {% endif %}
                {% endfor %}
            </tr>
        </table>

        <form action="{% url 'reject' event.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value='Reject' />
        </form>
        {%else%}
        <form method="post" action="{% url 'accept' event.id %}">
            <p>Preferred Start Time</p>
            {% csrf_token %}
            <table class="timetable">
                <tr>
                    {% for field, item in form.slots|zip:lis %}
                    <div class="fieldWrapper">
                        <td class="timetable-data">
                            {{field}}
                        </td>
                        <td class="timetable-data">
                            {{ item}}
                        </td>
                        {% if forloop.counter|divisibleby:6%}
                        <p></p>
                </tr>
                <tr>
                    {% endif %}
                    </div>
                    {% endfor %}
                </tr>
            </table>
            <input type="submit" value='Accept' />
        </form>
        {% endif %}
    </center>
</div>

{%endblock%}

{% block javascript %}

<script>

</script>

{% endblock %}
