{% extends 'base.html' %}
{% block content %}
{% load meetup_extras%}

<div class="container">
    {% csrf_token %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-8 ">
                <h2>Welcome {{ username }}</h2>
                <p>You are on your Dashboard</p>
            </div>
            <div class="col-sm-4 ">
                <form action="{% url 'addEvent' %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-info btn-lg align-right" type="submit" value="Add Public Event">
                </form>
                <p></p><p></p>
                <form action="{% url 'invite' %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-info btn-lg align-right" type="submit" value="Add Private Event">
                </form>
                {# In the above make an url invite that calls invite function in views.py #}
            </div>
            <div>
                <div class="col-sm-6">
                    {% if acceptlist %}
                    <center>
                        <h3 class="event-header"> Your Accepted Events are </h3>
                        {% for event in acceptlist %}
                        <div class="event-subject">
                            {% if event.NoUsersAccepted == event.TotalUsers%}
                            {% if event.is_scheduled %}
                            <a class="bg-success text-white" href="{% url 'eventdetails' event.id %}">{{event.subject }}</a> {{ event.scheduled_at|slotToTime }} Scheduled<br>
                            {% else %}
                            <a class="bg-danger text-white" href="{% url 'eventdetails' event.id %}">{{event.subject }}</a> Not Schedulable<br>
                            {% endif %}
                            {% else %}
                            <a class="bg-warning text-white" href="{% url 'eventdetails' event.id %}">{{event.subject }}</a> {{event.NoUsersAccepted}}/{{event.TotalUsers}} All Users Accepted<br>
                            {% endif%}
                        </div>
                        {% endfor %}
                        {% else %}
                        <h3 class="event-header">Accept list is Empty.</h3>
                        {% endif %}
                </div>

                <div class="col-sm-6">
                    <center>
                        {% if pendlist %}
                        <h3 class="event-header"> Your pending Events are</h3>

                        {% for event in pendlist %}
                        <div class="event-subject">
                            <a href="{% url 'eventdetails' event.id %}">{{event.subject }}</a>
                        </div>
                        {% endfor %}

                        {% else %}
                        <p>Pending list is Empty.</p>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <center>
                    <p>The available start slots are  </p>
                    <table class="timetable">
                        <tr>
                            {% for slot in availableSlotsList|filterZero %}
                            <div class="fieldWrapper">
                                <td class="timetable-data">
                                    {{ slot|slotToTime }}
                                </td>
                                {% if forloop.counter|divisibleby:6%}
                                <p></p>
                        </tr>
                        <tr>
                            {% endif %}
                            </div>
                            {% endfor %}
                        </tr>
                    </table>
                </center>
            </div>
        </div>
    </div>
</div>
{% endblock %}
