{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="schedule-panel panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Schedule a new Event</h2>
                </div>
                <div class="panel-body">
                    <form method="post" action="{% url 'invite' %}">
                        {% csrf_token %}
                        <p class="bs-component">
                        <table>
                            <div class="fieldWrapper">
                                <tr>
                                    <td>
                                        {{ form.subject.label_tag }}
                                    </td>
                                    <td>
                                        {{ form.subject }}
                                    </td>
                                    <td>
                                        {{ form.subject.errors }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form.detail.label_tag }}
                                    </td>
                                    <td>
                                        {{ form.detail }}
                                    </td>
                                    <td>
                                        {{ form.detail.errors }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form.no_slots.label_tag }}
                                    </td>
                                    <td>
                                        {{ form.no_slots }}
                                    </td>
                                    <td>
                                        {{ form.no_slots.errors }}
                                    </td>
                                </tr>
                            </div>
                        </table>
                        </p>
                        <p> List of Users</p>
                        <table class="usertable">
                            <tr>
                                {% for field in form.check %}
                                <div class="fieldWrapper">
                                    <td class="usertable-data">
                                        {{field}}
                                    </td>
                                    {% if forloop.counter|divisibleby:4%}
                                    <p></p>
                            </tr>
                            <tr>
                                {% endif %}
                                </div>
                                {% endfor %}
                            </tr>
                        </table>
                        <p class="bs-component">
                        <center>
                            <input class="btn btn-success btn-sm" type="submit" value="Schedule it!" />
                        </center>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
